<style>
	h1.img{text-align: center;font-family: bold;}
	h2{text-align: center;color: green;font-family: arial;}
</style>
<body>
	<div  class="container-fluid" >
		<div class="row">
			<div class="col-sm "align="center" >
				<h1 align="center" style="color: red; font-family: bold;font-size: 5.1em;" >Government College Of Engineering</h1>
				<h3 align="center" style="color: #b52ba7;font-family: bold;">INDIA.</h3>
				<h2>To Know More About The College Just Click Here....!!!</h2>
				<%= link_to 'College Deatails',home1_index_path,class: "btn btn-primary", style: "color:black;"%>
				<h4  align="center" ><img src="<%= asset_path 'wel.png' %>"></h4><br><br>
				
			</div>
		</div>
	</div>	
</body>	
