<style >
	body{background: url("<%= asset_path 'img5.jpg' %>");}
	h1{font-family: bold;color: #db34eb;text-align: center;}
	div{text-align: center;}
</style>
<body>
	<h1>Editing The Subject Deatails</h1>
	<div>
		<%= render 'form', subject: @subject %>
		<%if @college.present? && @department.present?%>
			<%= link_to 'Back',college_department_subjects_path,class:"btn btn-warning",style:"color:black;" %>
		<%else%>
			<%= link_to 'Back', subjects_path ,class:"btn btn-warning",style:"color:black;" %>
		<% end -%>
	</div>
	
</body>
