<style >
	body{background: url("<%= asset_path '113.jpg' %>");}
	h1{font-family: bold;color: #db34eb;text-align: center;}
</style>
<body>
	<h1>Add New Cource</h1><br>
	<%= render 'form', cource: @cource %>
	<div align="center">
		<%if @college.present? && @department.present?%>
			<%= link_to 'Back',college_department_cources_path(@college, @department),class:"btn btn-warning",style:"color:black;" %>
		<%else%>
			<%= link_to 'Back', college_department_path,class:"btn btn-warning",style:"color:black;" %>
		<% end -%>
	</div>
</body>
